.auth-component {
  background: #f5f5f5;
}
.auth-left-side-container {
  background-image: url(../../assets/appImages/img=login.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 100%;
}
.content-text-message-login {
  display: flex;
  justify-content: flex-end;
}
.auth-right-side-container {
  padding: 100px 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth-form-title {
  font-family: "Nunito";
  font-size: 38px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000c7;
  font-size: clamp(30px, 1vw, 40px);
  white-space: nowrap;
}
.auth-form-control {
  background: #f1f1f194;
  border-radius: 40px;
  padding: 20px;
  font-family: "Nunito";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #444150 !important;
  border: 1px;
}
.auth-form-control:focus {
  border: 1px solid #1c208f;
}
.auth-form-group {
  position: relative;
}

.forget-password-link {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #1c208f;
  text-decoration: none;
}
.forget-password-link:hover {
  text-decoration: none;
  color: #1c208f;
  font-weight: bold;
}
.auth-form-message {
  font-family: "Nunito";
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: center;
}
.btn-text-message-login {
  font-family: "Nunito";
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0px;
  text-decoration: none;
  color: #1c208f;
}
.btn-text-message-login:hover {
  text-decoration: underline;
  color: #1c208f !important;
}
.auth-submit-btn {
  background: #1c208f;
  border-radius: 40px;
  width: 100%;
  padding: 15px 30px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #ffffff;
}
.auth-submit-btn:hover {
  background: #fff;
  color: #1c208f;
  border: 1px solid #1c208f;
  text-decoration: none;
}
.container-page-login {
  height: 100vh;
}
.auth-row.row .auth-col {
  padding: 0 !important;
}

.form-control:focus {
  box-shadow: none !important;
}
.content-form-login-page {
  padding: 30px 150px;
}

.fixed-after-header {
  margin-top: 4%;
}

.form-label-auth-login {
  font-family: "Nunito";
  font-size: 15px !important;
  font-weight: 700 !important;
  line-height: 24px;
  letter-spacing: 0em;
  color: #444150 !important;
}
.auth-right-side-col {
  background: #fff;
}
.show-hide-password {
  position: absolute;
  right: 4%;
  color: #28348a;
  top: 30%;
  font-size: 20px;
}
.show-hide-password.on__register {
  top: 54%;
}

.radio-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input[type="radio"] {
  display: none;
}

.label-input-register {
  position: relative;
  padding-left: 30px;
  color: #444150;
  cursor: pointer;
  transition: color 0.3s;
  font-family: "Nunito";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}

.label-input-register:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #808080;
  transition: background-color 0.3s;
}

input[type="radio"]:checked + .label-input-register:before {
  background-color: #1c208f;
}

input[type="radio"]:focus + .label-input-register {
  color: #1c208f;
}

input[type="radio"]:checked + .label-input-register {
  color: #1c208f;
}

input[type="radio"]:hover + .label-input-register:before {
  background-color: #1c208f;
}

input[type="radio"]:focus + .label-input-register:before {
  background-color: #1c208f;
}
.input-with-eye-container {
  position: relative;
}
